<button type="button" (click)="openDepartmentModal"> Add Department</button>
<button type="button" (click)="openEmployeeModal"> Add Employee</button>

<!-- <ng-template>
    <modal #department>
            
    </modal>
</ng-template> -->

<form (groupName)="departmentForm" (onSubmit)="submitDepartment">
    <div class="form-group">
            <label> Name </label>
            <input type="text" class="form-control" formControl="name" />
    </div>

    <div>
        <button type="submit" class="btn btn">Submit</button>
    </div>
</form>

<select >
    <option *ngFor="let department of departments" value="department.id"> {{department.name}}</option>
</select>